.single-option, .multiple-options {
    display: flex;
    border: none;
    border-radius: 8px;
    align-items: center;
    font-size: 1.3vw;
}

.single-option {
    height: 80%;
    width: 100%;
    background-color: rgb(37,40,45);
    justify-content: center;
}

.multiple-options {
    position: relative;
    right: 5%;
    bottom: .5vw;
    height: calc(80% * 5 + 6vh + 1vw);
    width: calc(100% + 1vw);
    flex-flow: column nowrap;
    background-color: rgb(30,30,30);
    justify-content: start;
    row-gap: 1vh;
    padding: .5vw;
}

.option {
    height: 80%;
    width: 100%;
    display: flex;
    border: none;
    background-color: rgb(37,40,45);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    column-gap: .5vw;
}

.option > img {
    height: 110%;
    width: auto;
}

.multiple-options > .option > img {
    height: 80%;
    width: auto;
}

.option:hover {
    background-color: rgb(69, 73, 83);
    transition: background-color .1s ease-in;
}




/*
.view-display, .view-display-on-selector {
    height: 80%;
    width: 100%;
    display: flex;
    border: none;
    background-color: rgb(37,40,45);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    column-gap: .5vw;
}







.view-display-on-selector {
    height: 80%;
    width: 100%;
    font-size: 1.3vw;
    background-color: inherit;
}*/
