.calendar-viewer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 5vh 1fr / 1fr;
    background-color: inherit;
    align-items: center;
}
.calendar-viewer > div {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
.mini-bar {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: min(2vh, 2vw);
    font-size: 1.3vw;
    font-weight: bold;
}

.switcher {
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.switcher > button {
    border: none;
    background-color: rgb(37,40,45);
    border-radius: 8px;
}
.switcher > button:hover {
    background-color: rgb(69, 73, 83);
    transition: background-color .1s ease-in;
}
.switcher > button:active {
    background-color: rgb(34, 36, 41);
    transition: background-color .1s ease-in;
}

.arrow-button-back, .arrow-button-forward {
    height: 100%;
    width: 4vw;
    font-size: 1.2vw;
}
.arrow-button-back > img, .arrow-button-forward > img {
    height: 100%;
    width: 100%;
}
.arrow-button-forward > img {
    rotate: 180deg;
}

.today-button {
    height: 100%;
    width: 5vw;
    font-size: 1.3vw;
}

.view-selection {
    margin-left: auto;
    height: 100%;
    width: 13%;
}

.calendar-view-port {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(50,50,50);
}
