* {
    font-family: sans-serif;
    color: white;
}

:root {
    height: 100vh;
    width: 100vw;
    background-color: rgb(37,40,45);
    
}

#root {
    height: 100vh;
    width: 100vw;
    padding: min(1.5vh, 1.5vw);
}